Repository DevDeb91/countries: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc.json:

{
  "*{.js,.json,.css}": "prettier --write",
  "*.js": "eslint"
}

[#3] clean-up the unuseful code
  src/App.css
  src/App.js
  src/App.test.js
  src/logo.svg
Due: prettier --write, eslint

[#3] Add axios and a GET method to have information about a country
  package.json
  src/App.js
  src/utils/Api.js
  yarn.lock
Due: prettier --write, eslint

[#4] add the title and style header
  src/App.css
  src/App.js
  src/index.css
Due: prettier --write, eslint

[#4] add Select component to select countries
  package.json
  src/App.css
  src/App.js
  src/components/Selector/Selector.js
  src/components/Selector/styles.js
  src/index.css
  src/utils/Api.js
  src/utils/colors.js
  yarn.lock
Due: prettier --write, eslint

[#5] implement Cards
  package.json
  src/App.css
  src/App.js
  src/components/Card/Card.css
  src/components/Card/Card.js
  src/components/Selector/Selector.js
  src/index.css
  yarn.lock
Due: prettier --write, eslint

[#6] add Map component and adapt the logic
  package.json
  src/App.css
  src/App.js
  src/components/Map/Map.js
  yarn.lock
Due: prettier --write, eslint

[#6] add CSS adjustements
  src/App.css
  src/App.js
Due: prettier --write, eslint

[#7] fix a bug for incongruation between map and selectors and rename a function
  src/App.js
Due: prettier --write, eslint

[#7] fix a wrong field value and handle null values
  src/components/Card/Card.js
Due: prettier --write, eslint

[#7] remove unused method
  src/utils/Api.js
Due: prettier --write, eslint

[#7] add proptypes and order codelines
  src/components/Card/Card.js
  src/components/Map/Map.js
Due: prettier --write, eslint

[#7] add spinner
  package.json
  src/components/Selector/Selector.js
  src/components/Selector/styles.js
  src/components/Spinner.js
  yarn.lock
Due: prettier --write, eslint

[#7] resolve warnings in console
  src/App.js
  src/components/Card/Card.js
  src/components/Map/Map.js
Due: prettier --write, eslint

[#7] add a paragraph to tell there are no selected countries
  src/App.css
  src/App.js
Due: prettier --write, eslint

[#7] change webapp title and favicon
  public/favicon.ico
  public/index.html
  public/manifest.json
Due: prettier --write

Updates
  asset-manifest.json
  favicon.ico
  index.html
  logo192.png
  logo512.png
  manifest.json
  robots.txt
  static/css/main.04c8b7d0.css
  static/css/main.04c8b7d0.css.map
  static/js/787.862c3719.chunk.js
  static/js/787.862c3719.chunk.js.map
  static/js/main.facd7235.js
  static/js/main.facd7235.js.LICENSE.txt
  static/js/main.facd7235.js.map
Due: prettier --write, eslint

[#8] Update README
  README.md
Due: none

[#9] add UI improvements for Map and paragraph
  src/App.css
  src/components/Map/Map.js
Due: prettier --write, eslint

[#10] provide Primot Pro font family
  public/index.html
Due: none

[#11] add deployment scripts for develop
  package.json
  yarn.lock
Due: prettier --write

Updates
  asset-manifest.json
  index.html
  static/css/main.04c8b7d0.css
  static/css/main.04c8b7d0.css.map
  static/css/main.5456e464.css
  static/css/main.5456e464.css.map
  static/js/main.e2912ba3.js
  static/js/main.e2912ba3.js.LICENSE.txt
  static/js/main.e2912ba3.js.map
  static/js/main.facd7235.js
  static/js/main.facd7235.js.map
Due: prettier --write, eslint

[#11] deploy on gh-page since the Create-React-App document cointains an error
  package.json
Due: prettier --write

[#12] let Spinner display only when options are loading and remove unused code
  src/App.js
  src/components/Selector/Selector.js
Due: prettier --write, eslint

Fix css for fade-top and fade-bottom (they were inverted)
  src/App.css
Due: prettier --write

Updates
  asset-manifest.json
  index.html
  static/css/main.5456e464.css
  static/css/main.5456e464.css.map
  static/css/main.c8a1c130.css
  static/css/main.c8a1c130.css.map
  static/js/main.34a2cf7c.js
  static/js/main.34a2cf7c.js.LICENSE.txt
  static/js/main.34a2cf7c.js.map
  static/js/main.e2912ba3.js
  static/js/main.e2912ba3.js.map
Due: prettier --write, eslint
